header{
	position: absolute;
	width:100%;
	z-index: 10;
	padding: 15px;
}

/*HEADER IZQUIERDA*/
header .header-izquierda{
	float: left;
	width:45%;
	padding-right: 15px;
}

.header-logo{
	float: left;
}
.header-buscador{
	float: right;
}

/* HEADER DERECHA*/
header .header-derecha{
	float: right;
	width:55%;
}
ul.nav-botones{
	float:right;
}
ul.nav-botones > li {
	display: inline-block;
}
ul.nav-botones > li a {
	font-size: 140%;
	color:#FFFFFF;
	margin-left: 10px;
}