<header>
	<div class="header-izquierda">
		<div class="header-logo"><img src="assets/images/logo_viviendas_on_v1.svg"></div>
		<div class="header-buscador">
			<input type="text" placeholder="">
			<input type="submit" value="Buscar">
		</div>
	</div>
	<nav class="header-dereacha">
		<ul class="nav-botones">
			<li><a href="javascript:void(0);"><i class="fa fa-phone" aria-hidden="true"></i></a></li>
			<li><a href="javascript:void(0);"><i class="fa fa-info-circle" aria-hidden="true"></i></a></li>
			<li><a href="javascript:void(0);"><i class="fa fa-user" aria-hidden="true"></i></a></li>
			<li><a href="javascript:void(0);"><i class="fa fa-bars" aria-hidden="true"></i></a></li>
		</ul>
	</nav>
</header>