/*RESET CSS*/
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-decoration: none;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*===== BODY =====*/
html, body {
	font-family: 'Roboto', sans-serif;
	position: relative;
    height: 100%;
    overflow: hidden;
}

header{
	position: absolute;
	width:100%;
	z-index: 10;
	padding: 15px;
}

/*HEADER IZQUIERDA*/
header .header-izquierda{
	float: left;
	width:45%;
	padding-right: 15px;
}

.header-logo{
	float: left;
}
.header-buscador{
	float: right;
}

/* HEADER DERECHA*/
header .header-derecha{
	float: right;
	width:55%;
}
ul.nav-botones{
	float:right;
}
ul.nav-botones > li {
	display: inline-block;
}
ul.nav-botones > li a {
	font-size: 140%;
	color:#FFFFFF;
	margin-left: 10px;
}

/*===== NAV HOME - INICIO =====*/
.home-nav{
	position: absolute;
	width:5%;
	top:50%;
	transform: translateY(-50%);
	z-index: 9;
	text-align: center;
}
.home-nav ul{

}
.home-nav ul > li{

}
/*===== NAV HOME - FINAL =====*/



main.home{
	position: absolute;
	width:100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 8;
	transition: all 0.6s;
}

.home section {
	width:100%;
	height: 100%;
	display: flex;
}
.sec-izq-content{
	position: relative;
	top:50%;
	transform: translateY(-50%);

}

/*===== HOME 01 =====*/
.home-01{

}
.home-01 .home-izquierda{
	margin-left: 5%;
	width: 40%;
}
.home-01 .home-derecha{
	width: 55%;
	background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("/assets/images/home-01.png");
}

/*===== HOME 02 =====*/
.home-02{

}
.home-02 .home-izquierda{
	margin-left: 5%;
	width: 40%;
}
.home-02 .home-derecha{
	width: 55%;
	background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("/assets/images/home-02.png");
}

/*===== HOME 03 =====*/
.home-03{

}
.home-03 .home-izquierda{
	margin-left: 5%;
	width: 40%;	
}
.home-03 .home-derecha{
	width: 55%;
	background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("/assets/images/home-03.png");
}

/*===== HOME 04 =====*/
.home-04{

}
.home-04 .home-izquierda{
	margin-left: 5%;
	margin-right: 5%;
	width: 40%;
}
.home-04 .home-derecha{
	width: 50%;
	background-color: green;
}